/* Start Global Rule */

:root{
  --background-color : #3b5d50;
  --second-color: #f9bf29;
  --small-text-color :#8fa29b;
  --black-color :#2f2f2f;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Almarai', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.container{
  width: 87%;
  margin: 0 auto;
}

/* End Global Rule */